<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taimoorsikander.cityguideapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.authentication.ForgetPasswordSuccessMessage"></activity>
        <activity android:name=".common.authentication.SetNewPassword" />
        <activity android:name=".common.authentication.MakeSelection" />
        <activity android:name=".common.authentication.ForgetPassword" />
        <activity android:name=".common.authentication.VerifyOTP" />
        <activity android:name=".common.authentication.SignUp3third" />
        <activity android:name=".common.authentication.SignUp2nd" />
        <activity android:name=".common.authentication.SignUp" />
        <activity android:name=".common.authentication.Login" />
        <activity android:name=".common.authentication.RetailerStartUpScreen" />
        <activity android:name=".user.AllCategories" />
        <activity android:name=".common.OnBoarding" />
        <activity android:name=".user.UserDashboard" />
        <activity android:name=".common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>